@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');
@import url('https://fonts.googleapis.com/css?family=Roboto');


// COLORS
$white: #f4f5f9;
$black: #3C3530;
$primary-color: #f1404b;
$card-background: #f2f2f2;

// CARD BORDER
$card-border: 1.25px solid lightgrey;

// FONTS
$logo-font: 'Walter Turncoat', cursive;
$body-font: 'Roboto', sans-serif;

body {
  background-color: $white;
}

#main-title {
  text-align: center;
}

#navbar {
  background-color: $primary-color;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $black;
}

.name{
  font-family: $logo-font;
  font-size: 3em;
  text-shadow: 1px 1px $black;
}

#profile-name{
  color: $primary-color;
  text-align: center;
}

#navbar {
  a {
    color: $white;
    text-shadow: 0.5px 0.25px $black;
    font-family: $logo-font;
  }
}

#logo{
  padding: auto;
  margin-left: 1.75em;
}

footer {
  font-family: $logo-font;
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  margin: auto;
  margin-top: 12em;
  padding: 6px;
}

.pet-card {
  background-color: $card-background;
  border-radius: 1%;
  color: #000;
  margin: auto;
  padding: 10px;
  border: $card-border;
  font-size: 0.75em;
  max-width: 60%;
}

.pet-card{
  img{
    box-shadow: 2em 2em lightgrey;
    width: 75%;
  }
}

.pet-card{
  h1{
    text-align: center;
    font-size: 4.5em;
    color: $primary-color;
  }
}

.pet-card{
  #loc-text{
    font-weight: 600;
  }
}

.pet-card{
  .k9img{
    margin-left: 4.75em;
    margin-right: 4.75em;
    box-shadow: 1.25px 1.75px lightgrey;
  }
}

.title {
  text-align: center;
  color: grey;
  text-shadow: 1px 0.5px #000;
  font-family: $logo-font;
}

.form-group{
  width: 75%;
  margin: auto;
  padding: 8px;
}

.sign-in-section{
  border: $card-background;
  margin: auto;
  width: 65%;
  padding: 8px;
}

.shelter-card{
  text-align: left;
  width: 60%;
  border-radius: 1%;
  margin-top: 15px;
  margin-left: 22%;
  margin-right: 12%;
  border: 1.25px solid lightgrey;
  padding: 10px;
  background-color: $card-background;
  color: #000;
}

.shelter-name{
  font-family: $logo-font;
  color: $primary-color;
}

.shelter-card{
  img{
    margin-left: 15%;
    width: 50%;
    box-shadow: 0.12em 0.2em lightgrey;
  }
}

.bio{
  font-family: $body-font;
}

#records-name{
  font-family: $logo-font;
  color: $primary-color;
  text-align: center;
}

#records-img{
  margin-left: 10em;
  margin-bottom: 3.25em;
}


#btn-link{
  a{
  color: white;
  }
}

#btn-link{
  a:hover{
    color: white;
    text-decoration: none;
  }
}

#btn-link:hover{
  color: white;
  text-decoration: none;
}

#email-area{
  width: 50em;
  height: 15em;
  margin-left: 11em;
  border-radius: 1%;
}

#subject-line{
  width: 50em;
  height: 1.75em;
  margin-left: 11em;
  border-radius: 3%;
}

#email-btns{
  float: right;
  margin-right: 9em;
  margin-top: 0.25em;
}

#to-line{
  width: 50em;
  height: 1.5em;
  margin-left: 11em;
  border-radius: 2%;
}

#next-btn{
  margin-left: 30%;
}
