@import url('https://fonts.googleapis.com/css?family=Audiowide');

// COLORS
$white: #f4f5f9;
$primary-color: #f1404b;
$card-background: #f2f2f2;

// CARD BORDER
$card-border: 1.25px solid lightgrey;

// FONTS
$logo-font: 'Audiowide', cursive;

body {
  background-color: $white;
}

#main-title {
  text-align: center;
}

#navbar {
  background-color: $primary-color;
  padding-bottom: 1.5em;
}

.name{
  font-family: $logo-font;
  font-size: 3em;
}

#profile-name{
  color: $primary-color;
  text-align: center;
}

#navbar {
  a {
    color: $white;
  }
}

footer {
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  padding: 5px;
}

.pet-card {
  background-color: $card-background;
  border-radius: 1%;
  color: #000;
  margin: auto;
  padding: 10px;
  border: $card-border;
  font-size: 0.75em;
  max-width: 60%;
}

.pet-card{
  img{
    box-shadow: $card-background;
  }
}

.pet-card{
  h1{
    text-align: center;
    font-size: 4.5em;
    color: $primary-color;
  }
}

.pet-card{
  #loc-text{
    font-weight: 600;
  }
}

.pet-card{
  .k9img{
    margin-left: 4.75em;
    margin-right: 4.75em;
    box-shadow: 1.25px 1.75px lightgrey;
  }
}

.title {
  text-align: center;
  color: grey;
  text-shadow: 1px 0.5px #000;
}

#search{
  display: flex;
  margin: auto;
  background-color: $card-background;
  border-radius: 1%;
  border: $card-border;
  width: 75%;
  padding: 7%;
}

#search-bar{
  width: 75%;
}

.form-group{
  width: 75%;
  margin: auto;
  padding: 8px;
}

.sign-in-section{
  border: $card-background;
  margin: auto;
  width: 65%;
  padding: 8px;
}

.shelter-card{
  text-align: left;
  border-radius: 1%;
  margin-top: 15px;
  margin-left: 12%;
  margin-right: 12%;
  border: 1.25px solid lightgrey;
  padding: 10px;
  background-color: $card-background;
  color: #000;
}

#btn-link{
  a{
  color: white;
  }
}

#btn-link{
  a:hover{
    color: white;
    text-decoration: none;
  }
}

#btn-link:hover{
  color: white;
  text-decoration: none;
}
