<div ng-controller="ContactCtrl">
  <h3 class="title">Contact</h3>
  <textarea id="to-line">rescues@musiccityanimalrescue.com</textarea>
  <textarea id="subject-line" placeholder="Subject"></textarea>
  <hr />
  <div id="email-body">
    <textarea id="email-area"></textarea>
    <div id="email-btns">
        <button id="email-send" type="button" class="btn btn-success">
          Send
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </button>
      <button id="email-cancel" type="button" class="btn btn-danger">
        Cancel
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
