<h3 class="title">HOME</h3>

<div class="pet-card">
  <h1>{{pets.data.petfinder.pet.name.$t}}</h1>
  <hr />
  <img id="k9img" src={{pets.data.petfinder.pet.media.photos.photo[2].$t}} />

  <!-- <img id="k9img" src={{pets.data.petfinder.pet.media.photos.photo[0].$t}} /> -->

  <hr />
  <h4>Breed: {{pets.data.petfinder.pet.breeds.breed.$t}}</h4>
  <h5>Sex: {{pets.data.petfinder.pet.sex.$t}}</h5>
  <p>{{pets.data.petfinder.pet.description.$t}}</p>
  <p id="loc-text">Location: {{pets.data.petfinder.pet.contact.city.$t}}, {{pets.data.petfinder.pet.contact.state.$t}} </p>
  <button ng-click="btnFunc" class="btn btn-info">Contact Shelter!</button>
</div>
