<h3 class="title">HOME</h3>

<div class="pet-card">
  <h1>{{myCurrentDog.name}}</h1>
  <hr />
  <img class="k9img" src={{pets.media.photos.photo[2].$t}} />

  <!-- <img id="k9img" src={{pets.data.petfinder.pet.media.photos.photo[0].$t}} /> -->

  <hr />
  <h4>Breed: {{myCurrentDog.breed}}</h4>
  <h5>Sex: {{myCurrentDog.sex}}</h5>
  <p>{{myCurrentDog.description}}</p>
  <p id="loc-text">Location: {{pets.contact.city.$t}}, {{pets.contact.state.$t}} </p>
  <button ng-click="btnFunc" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    Contact Shelter!
  </button>
  <button ng-click="submit()" class="btn btn-danger">
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    Add to List
  </button>
</div>
