<h3 class="title">User Profile</h3>
  <div  ng-repeat="dog in savedDogs" class="shelter-card">
    <h4 class="name" id="profile-name">{{dog.name}}</h4>
    <img class="k9img" src ="{{dog.img}}"
    <hr />
    <h6>Breed: {{dog.breeds.breed}}</h6>
    <h6>Location: {{dog.city}}, {{dog.state}}</h6>
    <p>Bio:{{dog.description}}</p>
    <button type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
    <button ng-click="remove();" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>
