<h3 class="title">Shelter Records</h3>

<div ng-repeat="obj in petRec" class="shelter-card">
  <h5>{{obj.name.$t}}</h5>
  <img class="k9img" src={{obj.media.photos.photo[3].$t}}/>
  <p>{{obj.description.$t}}</p>
  <button ng-click="btnFunc" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    Contact Shelter!
  </button>
  <button ng-click="addPet();" class="btn btn-danger">
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    Add to List
  </button>
</div>

<!-- ONLY WORKS FOR MCAR AS OF NOW. -->
