<h3 class="title">Our Current Rescues</h3>

<div ng-repeat="obj in petRec" class="shelter-card">
  <h3 id="records-name">{{obj.name.$t}}</h3>
  <img class="k9img" id="records-img" src={{obj.media.photos.photo[3].$t}}/>
  <p class="bio">{{obj.description.$t}}</p>
  <button ng-click="sendShelterEmail();" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    Contact Shelter!
  </button>
  <button ng-click="addPet();" class="btn btn-danger">
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    Add to List
  </button>
</div>

<!-- ONLY PULLS MCAR'S RECORDS. -->
